<article class="experience summary col-12">
  <header>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <div class="experience-meta">
      {{ .Date.Format "Mon, Jan 2, 2006" }}
    </div>
  </header>
  <div class="experience-summary post-content">
    {{ .Summary }}
  </div>

  <footer>
    <div class="row">
      <div class="col-12 col-lg-4">
        <a class="btn btn-outline-secondary btn-sm" href="{{ .RelPermalink }}">Read&nbsp;more&nbsp;&raquo;</a>
      </div>
    </div>
  </footer>
</article>
