<footer class="footer">
  <div class="container">
    <div class="footer__left">
      <div class="footer__copy">
        {{ .Site.Params.footer.copyright | safeHTML }}
      </div>
    </div>
    <div class="footer__links">
      <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL | absURL }}">🏠 HOME</a>
        </li>
        {{ range .Site.Menus.footer }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | relURL }}">{{ .Name | upper }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="footer__right">
      
    </div>
  </div>
  <!-- Swiper JS -->
<script src="https://unpkg.com/swiper@9/swiper-bundle.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var swiper = new Swiper('.swiper', {
      // Optional parameters
      slidesPerView: 3,           // Number of slides to show at once on desktop
      spaceBetween: 20,          // Space (px) between slides
      loop: false,               // or true, if you want infinite looping

      // If you want arrows:
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // If you want pagination bullets:
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      // Responsive breakpoints (if needed)
      breakpoints: {
        768: {  // at 768px or bigger
          slidesPerView: 2
        },
        1024: { // at 1024px or bigger
          slidesPerView: 3
        }
      }
    });
  });
</script>


</footer>
